<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-7">
        <div class="form-group">
            <label class="form-label">Employee Name:</label>
            <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="Enter Employee Name">
        </div>
        <div class="form-group mt-3">
            <label class="form-label">Department:</label>
            <select class="form-control" [(ngModel)]="Department">
                <option value="">---- Select -----</option>
                <option *ngFor="let depName of DepartmentList">{{depName.DepartmentName}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="form-label">Date of Joining:</label>
            <input type="date" class="form-control" [(ngModel)]="DateOfJoining">
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-5 text-center">
        <img [src]="PhotoFilePath" alt="Profile Image" width="180px">
        <input type="file" (change)="uploadPhoto($event)" class="form-control mt-3">
    </div>
</div>
<hr>
<button class="btn btn-success" (click)="addEmployee()" *ngIf="emp.EmployeeId==0">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 18 18">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>Add
</button>
<button class="btn btn-success" (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 18 18">
        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
    </svg>Update
</button>